body {
    margin: 2%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url(../images/background_body.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

nav {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

nav a {
    flex: 1 1 20%;
    padding: 1rem;
    text-decoration: none;
    color: white;
    line-height: normal;
    transition: transform 0.1s ease-in;
    border-right: white solid 2px;
    border-left: white solid 2px;
}

#aboutme {
    background-color: #355C7D;
}
#mycv {
    background-color: #6C5B7B;
}
#gallery {
    background-color: #C06C84;
}
#contact {
    background-color: #F67280;
}

nav a:hover {
    transform: scale(1.1);
    text-decoration: underline;
}

#myname:hover {
    transform: scale(1.03);
}

#rightside {
    float: right;
    border-right: solid;
    border-left: solid;
}
#myname {
    float: left;
    border-top: solid;
    border-bottom: solid;
}

#myname, #rightside {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 70vh;
    margin: 1%;
    text-align: center;
    width: 47%;
    transition: transform 0.3s ease;
    color: black;
}

/* Footer Code -------------------------------------------------*/

#introduction {
    clear: both;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    color: white;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #2B2E4A;
}

#introduction p {
    width: auto;
    margin: 0;
    flex: 1 auto;
    padding: 0.5rem;
    border-right: white solid;
    border-left: white solid;
}

#whatsappbutton:hover, #emailbutton:hover, #documentationbutton:hover, #homebutton:hover {
    text-decoration: underline;
}

#introduction a {
    text-decoration: none;
    color: white;
    margin: 0;
    flex: 1 auto;
}

/* Footer Code -------------------------------------------------*/

/* About Me Pictures ------------------------------------------------- */

#myface {
    width: 70%;
    height: auto;
}

#pictures1 img{
    width: 25%;
}

#uniform:hover, #babypic:hover, #mycar:hover, #bike:hover {
    transform: scale(2);
    transition: transform 0.2s ease-in;
    transform-origin: right center;
}

/* About Me Pictures ------------------------------------------------- */

/* CV CODE ------------------------------------------------- */

#sidebar {
    text-align: center;
    float: left;
    width: 25%;
    margin: 2%;
    border-top: solid 3px;
    border-bottom: solid 3px;
    border-left: solid 3px;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 6;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgb(203, 242, 253));
}

#sidebar a {
    display: block;
    text-decoration: none;
    color: black;
    border-right: solid 3px;
}

.slides {
    float: right;
    margin: 2%;
    text-align: center;
    border-top: solid 3px;
    border-bottom: solid 3px;
    border-right: solid 3px;
    height: 70vh;
    justify-content: center;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(203, 242, 253));
    width: 65%;
}

.slides {
    display: none;
}

.slides:target {
    display: block;
}

#sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 60%;
}

#sidebar a:hover {
    transform: scale(1);
    border-bottom: solid 3px;
    border-top: solid 3px;
}

#insideslide1 {
    align-items: center;
    margin: 5%;
}

#table1, #table2, #table3 {
    width: 100%;
    margin: 5%;
}

#table1 th {
    height: 9vh;
}

#table2 th {
    height: 14vh;
}

#table3 th {
    height: 14vh;
}

#insideslide4 h1, #insideslide4 p {
    height: 6vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

#insideslide5 h1, #insideslide5 p {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 7px;
    height: auto;
}

#insideslide5 h1 {
    padding-top: 2%;
}


/* CV CODE ------------------------------------------------- */

/* GALLERY CODE ----------------------------------------------*/

.gallery {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 2%;
    background-color: #EEEEEE;
    border-bottom: solid;
    border-right: solid;
    border-left: solid;
}

.gallery li {
    display: flex;
    align-items: center;
}

.gallery div {
    border-right: solid;
    width: 40%;
}

#favoriteartistsh1 {
    text-align: center;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    border-bottom: solid;
}

.artists {
    width: 35%;
    height: auto;
    padding: 10px;
}

/*--------------------------------------------------------------------*/

/* CONTACT FORM CODE ----------------------------------------------------*/

#form {
    padding: 30px;
    margin: 3%;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#form form {
    background-color: #D2E0FB;
    border-top: white solid;
    border-bottom: white solid;
    border-right: black solid 3px;
    border-left: black solid 3px;
    margin: 0 auto;
    width: 65%;
}

#form input, #form textarea {
    width: 50%;
    padding: 15px;
    color: black;
    border: none;
    border-bottom: black 3px solid;
    background-color: #D2E0FB;
    margin-top: 2%;
    height: 20px;
}

#form textarea {
    height: 200px;
}

#form input::placeholder {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#form textarea::placeholder {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#form button {
    width: auto;
    padding: 15px;
    padding-inline: 2rem;
    border: solid black 3px;
    background: #D2E0FB;
    color: black;
    margin-bottom: 2%;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#form input:focus, #form textarea:focus {
    border: none;
    outline: none;
    border-bottom: white solid;
    box-shadow: 0 0 2px #EEEEEE;
}

/* ------------------------------------------------------------*/

































